<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>OSU Dorm Reviews</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="/" class="left-logo">OSU</a><a href="/" class="right-logo">DormReviews</a></li>
            </ul>
        </nav>
        <button><a href="/dorms">Find Dorms!</a></button>
    </header>
    {% block content %}{% endblock %}
</body>
</html>