{% extends 'layout.html' %}
{% block content %}

    {% if search %}
    {% if not searchResults %}
    <div class="no-results">
        <h1>No results found for "{{ search }}"</h1>
        <button><a href="/dorms">View Dorms List</a></button>   
    </div>
    {% else %}
    <h1>Displaying related search results...</h1>
    {% endif %}
    <div class="hall-container">
        {% for result in searchResults %}
            <a href="/dorms/{{ result }}">
                <div class="hall">
                    <img src="static/{{ hallIDs[result][1] }}">
                    <div class="hall-info">
                        <h1>{{ result }}</h1>
                        <h1> {{ hallIDs[result][2] }} / 5 </h1>
                    </div>
                    </img>
                </div>
            </a>
        {% endfor %}
    {% else %}
    <h1>Displaying all dorms...</h1>
    <div class="hall-container">
        {% for hall, hallInfo in hallIDs.items() %}
            <a href="/dorms/{{ hall }}">
                <div class="hall">
                    <img src="static/{{ hallInfo[1] }}">
                    <div class="hall-info">
                        <h1>{{ hall }}</h1>
                        <h1> {{ hallInfo[3] }} / 5 </h1>
                    </div>
                    </img>
                </div>
            </a>
        {% endfor %}
    </div>
    {% endif %}

{% endblock content %}