<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-40SMMBHQ20"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-40SMMBHQ20');
    </script>
    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            let gptOutput = document.getElementById('gpt-output');
            gptOutput.addEventListener('click', () => {
                console.log("clicked")
                const outputTag = document.getElementById("gpt-output");
                outputTag.innerHTML = "";
                outputTag.style.fontFamily = "Roboto";
                outputTag.style.fontSize = "20px";
                let text = `{{gptOutput[hall]|tojson}}`;
                let i = 1;
                let speed = 25; 
                const intervalId = setInterval (function() {
                    outputTag.innerHTML += text[i];
                    i++;
                    if (i + 1 === text.length) {
                        clearInterval(intervalId);
                    }
                }, speed);
            });
        });
    </script>
    <title>OSU Dorm Reviews</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="/" class="left-logo">OSU</a><a href="/" class="right-logo">DormReviews</a></li>
            </ul>
        </nav>
        <form action="/dorms" method="post">
            <input class="search-bar" type="text" name="search" placeholder="Enter Hall...">
            <input class="search-submit" type="submit" value="Search">
        </form>
    </header>
    <div class="content-2">
        
        <div class="image-container">
            <img src="../static/img/dorms/{{ hallIDs[hall][1] }}" alt="Hall Image">
            <div class="hall-text">
                <h1>{{ hall }} Hall Reviews</h1>
            </div>
        </div>
       
        <div class="review-container">
            <div class="button-container">
                <a href="/dorms" class="back-arrow">
                    <img src="../static/img/other/back.png" alt="Back">
                </a>
                <div id="gpt-output">AI Summary</div>
                <div id="google-reviews-button">
                    <a style='display: flex; align-items: center;' href={{hallIDs[hall][2]}}>
                        <h1>View All Reviews</h1>
                        <img src="../static/img/logos/Google.png">
                    </a>
                </div> 
            </div>
            {% for hallReview in allReviews %}
                {% if hallReview[2] == hall %}
                    <div class="review">
                        <div class="stars">
                            {% for star in range(hallReview[0]) %}
                                <img src="../static/img/other/star.png" alt="1 Star">
                            {% endfor %}
                        </div>
                        <h2>{{ hallReview[1] }}</h2>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
</body>

