<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>OSU Dorm Reviews</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="/" class="left-logo">OSU</a><a href="/" class="right-logo">DormReviews</a></li>
            </ul>
        </nav>
        <form action="/dorms" method="post">
            <input class="search-bar" type="text" name="search" placeholder="Enter Hall...">
            <input class="search-submit" type="submit" value="Search">
        </form>
    </header>
    <div class="content">
        <img class="dorm-img" src=../static/{{ hallIDs[hall][1] }}>
        <h1>{{ hall }}</h1>
        <div class="reviews">
            {% for hallReview in allReviews %}
                {% if hallReview[2] == hall %}
                    <div class="review">
                        <h1>{{ hallReview[1] }}</h1>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

