<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script>
        function typeWriter() {
            const outputTag = document.getElementById("output");
            let text = {{ gptOutput[hall]|tojson }};
            let i = 0;
            let speed = 30; 
            const intervalId = setInterval (function() {
                outputTag.innerHTML += text[i];
                i++;
                if (i === text.length) {
                    clearInterval(intervalId);
                }
            }, speed);
        }
        
        function displaySummary() {
            let button = document.getElementById('gpt-button');
            let gptOutput = document.getElementById('gpt-output');
            button.style.display = 'none';
            gptOutput.style.display = 'flex';
            typeWriter();
        }
    </script>
    <title>OSU Dorm Reviews</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="/" class="left-logo">OSU</a><a href="/" class="right-logo">DormReviews</a></li>
            </ul>
        </nav>
        <form action="/dorms" method="post">
            <input class="search-bar" type="text" name="search" placeholder="Enter Hall...">
            <input class="search-submit" type="submit" value="Search">
        </form>
    </header>
    <div class="content-2">
        <div class="image-container">
            <img src="../static/{{ hallIDs[hall][1] }}" alt="Hall Image">
            <div class="hall-info">
                <h1 class="text-overlay">{{ hall }} Hall Reviews</h1>
            </div>
        </div>
        <div class="backbar">
            <div class="back-arrow">
                <a href="/dorms">
                    <img src="../static/back.png" alt="Back">
                    <h2>Back to Dorms</h2>
                </a>
            </div>
        </div> 
        <div class="review-container">
            <div class="button-container">
                <button id="gpt-button" onClick="displaySummary()">Read AI's Summary</button>
                <div id="gpt-output">
                    <h1>AI Review Summary</h1>
                    <h2 id="output"></h2>
                </div>
                <div id="google-reviews-button">
                    <a href={{hallIDs[hall][2]}}>
                        <h1>View All Reviews</h1>
                        <img src="../static/Google.png">
                    </a>
                </div> 
            </div>
            {% for hallReview in allReviews %}
                {% if hallReview[2] == hall %}
                    <div class="review">
                        <div class="stars">
                            {% if hallReview[0] == 1 %}
                                <img src="../static/star.png" alt="1 Star">
                            {% elif hallReview[0] == 2 %}
                                <img src="../static/star.png" alt="2 Star">
                                <img src="../static/star.png" alt="2 Star">
                            {% elif hallReview[0] == 3 %}
                                <img src="../static/star.png" alt="3 Star">
                                <img src="../static/star.png" alt="3 Star">
                                <img src="../static/star.png" alt="3 Star">
                            {% elif hallReview[0] == 4 %}
                                <img src="../static/star.png" alt="4 Star">
                                <img src="../static/star.png" alt="4 Star">
                                <img src="../static/star.png" alt="4 Star">
                                <img src="../static/star.png" alt="4 Star">
                            {% elif hallReview[0] == 5 %}
                                <img src="../static/star.png" alt="5 Star">
                                <img src="../static/star.png" alt="5 Star">
                                <img src="../static/star.png" alt="5 Star">
                                <img src="../static/star.png" alt="5 Star">
                                <img src="../static/star.png" alt="5 Star">
                            {% endif %}
                        </div>
                        <h2>{{ hallReview[1] }}</h2>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

