<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>OSU Dorm Reviews</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="/" class="left-logo">OSU</a><a href="/" class="right-logo">DormReviews</a></li>
            </ul>
        </nav>
        <form action="/dorms" method="post">
            <input class="search-bar" type="text" name="search" placeholder="Enter Hall...">
            <input class="search-submit" type="submit" value="Search">
        </form>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>