@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@800&display=swap');
@font-face {
    font-family: 'Houstander';
    src: url(../static/fonts/HoustanderDemo.ttf)
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.35;
    }
    100% {
        opacity: 1;
     }
}

* {
    margin: 0;
    padding: 0;
    background-color: #edeef1;
}

a {
    text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
    padding-top: 7vh;
}

.content-2 {
    padding-top: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin: 20px 0px;
}

header {
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 10%;
    background-color: rgb(37, 37, 36);
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.left-logo {
    font-family: Houstander, serif;
    font-weight: bold;
    font-size: 30px;
    color:#e8dfdf;
    background: transparent;
}
.right-logo {
    font-family: Houstander, serif;
    font-weight: bold;
    font-size: 30px;
    color:#ff5e00;
    background: transparent;
}

.navbar { 
    list-style: none;
    background-color: rgb(37, 37, 36);
    background: transparent;
}

.navbar:hover {
    transform: scale(1.03);
    transition: ease-in-out 0.05s;
    cursor: pointer;
}

.navbar li {
    display: inline-block;
    padding: 0px 10px;
    background-color: rgb(37, 37, 36);
}

button {
    padding: 9px 25px;
    background-color: #f17b36;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

button:hover {
    background-color: #ff5e00;
    transform: scale(1.03);
    transition: ease-in-out 0.05s;
}

button a {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    background-color: #ff5e00;
    color: #000000;
    text-decoration: none;
    background: transparent;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin: 20px 0px;
}

.background-image {
    background-image: url("./img/other/home-background.jpg");
    background-size: cover;
    background-position: center;
    height: 93vh;
}

.background-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.background-text h1, .background-text p {
    margin: 10px 0px;
    color: white;
    background: transparent;
}

.background-text h1 {
    font-size: 62px;
}

.background-text p {
    font-size: 26px;
}

.hall, .hall h1 {
    padding: 20px 0px;
    animation: fadeInAnimation ease 0.1s;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.hall h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.hall:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.03);
    cursor: pointer;
}

.hall-container {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(490px, 1fr));
    background: transparent;
    margin: 0px 10%;
}

.hall-container img {
    object-fit: cover;
}

.hall-info {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hall-text {
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);   
    position: absolute;
    background: transparent;
}

.hall-text h1 {
    color: #e8dfdf;
    background-color: rgba(0, 0, 0, 0.5);
}

header form {
    border-radius: 70px;
    height: 30px;
    width: 10vw;
    border-width: 0px;
    margin-left: auto;
    display: flex;
}

header form input {
    gap: 20px;
}

.search-bar {
    height: 30px;
    width: 10vw;
    border-width: 0px;
    padding-left: 20px;
}

.search-submit {
    text-align: center;
    padding: 10px;
    height: 30px;
    width: 5vw;
    border-width: 0px;
    background-color: #f17b36;
    cursor: pointer;
}

.search-submit:hover {
    background-color: #ff5e00;
    transform: scale(1.02);
    transition: ease-in-out 0.1s;
    cursor: pointer;
}

.dorm-img {
    padding: 150px 300px;
    width: 100vw;
    height: 93vh;
    background-size: cover;
    background-position: center;
}

.no-results {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container, .image-container h1 {
    width: 100%;
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 92%;
    height: 550px;
    object-fit: fill;
}

@media screen and (max-width: 900px) {
    .image-container img {
        object-fit: contain;
        height: 450px;
    }
}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 37, 36);
    padding: 30px;
    margin: 40px 10px;
    gap: 50px;
    border-radius: 20px;
    width: 92%;
}

.review-container h2 {
    padding: 20px 10%;
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: 20px 0px;
    outline: #edeef1;
}
.review {
    width: 100%;
    padding: 20px 0px;
    margin: 5px 0px;
    background-color: rgb(61, 59, 59);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.review h2 {
    font-family: "Libre Bodoni", serif;
    font-weight: 500;
    font-size: 20px;
    color: #c4c1c1;
    text-align: center;
    margin: 20px 0px;
    background: transparent;
    background-color: rgb(61, 59, 59);
    outline: #edeef1;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 59, 59);
    border-radius: 20px;
}

.stars img {
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    background-color: rgb(61, 59, 59);
}

.back-arrow img {
    width: 30px;
    height: 30px;
    background-color: rgb(37, 37, 36);
}

.back-arrow h2 {
    background-color: rgb(37, 37, 36);
}

.back-arrow {
    margin-right: 40px;
    padding-left: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 36);
    text-decoration: none;
    color: #000000;
    display: flex;
}

.back-arrow img:hover {
    transition: ease-in-out 0.18s;
    transform: scale(1.2);
    rotate: 360deg;
}

.header {
    background-color: rgb(37, 37, 36);
}

#gpt-output:hover {
    transition: ease-in-out 0.1s;
    transform: scale(1.01);
}

#gpt-output {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    background-color: rgb(61, 59, 59);
    height: min-content;
    width: 100%;
    color: #c4c1c1;
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#gpt-output h1, #gpt-output h2 {
    font-family: "Libre Bodoni", serif;
    font-weight: 500;
    background: transparent;
    padding: 0px;
    text-align: center;
}

#gpt-output h2 {
    font-size: 20px;
}

#google-reviews-button {
    background-color: white;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease 0s;
    text-align: center;
    padding: 0px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    margin-left: auto;
    border-radius: 10px;
    background-color: rgb(61, 59, 59);
    width: 30%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#google-reviews-button a {
    text-decoration: none;
    background-color: rgb(61, 59, 59);
    align-items: center;
    height: 100%;
}

#google-reviews-button a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#google-reviews-button:hover {
    transform: scale(1.03);
    transition: ease-in-out 0.1s;
}

#google-reviews-button h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #c4c1c1;
    background: transparent;
    text-decoration: none;
}

#google-reviews-button img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background: transparent;
    text-decoration: none;
}

.button-container {
    display: flex;
    width: 100%;
    height: 100px;
    gap: 20px;
    background-color: rgb(37, 37, 36);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    .back-arrow {
        justify-self: flex-start;
        height: 25px;
        width: 25px;
        padding-right: auto;
    }

    .back-arrow img {
        height: 25px;
        width: 25px;
    }

    #google-reviews-button {
        background-color: white;
        border: none;
        color: #c4c1c1;
        cursor: pointer;
        transition: all 0.1s ease 0s;
        text-align: center;
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-left: auto;
        border-radius: 10px;
        width: 50%;
    }

}
